@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

#who-are-we-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.who-are-we-content{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;   
    gap: 100px;
    padding: 100px 50px;
}

.who-are-we-image {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
    transform: rotate(-2.5deg);
    transition: 1s;
}

.who-are-we-image:hover {
    transform: rotate(2.5deg);
    transition: 1s;
}

.who-are-we-word-content {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.who-are-we-word-content h1{
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

.who-are-we-word-content p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.learn-more-btn {
    transition: all 300ms ease;
    padding: 10px 30px;
    width: 150px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border: var(--btn-primary-color) 1px solid;
    background: none;
}

.learn-more-btn:hover {
    cursor: pointer;
    background: var(--btn-primary-color);
    color: white;
    border: none;
    border: white 1px solid;
}