@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

#wide-viewport-navbar-section {
    width: 100%;
    height: fit-content;
    /* position: fixed; */
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(55, 55, 55, 0.1);
}

#wide-viewport-navbar {
    width: 1200px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#wide-viewport-navbar-logo {
    height: 80px;
    cursor: pointer;
}

.wide-viewport-navbar-logo-container {
    flex-shrink: 0;
}

.wide-viewport-navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.wide-viewport-navbar-item {
    margin-left: 50px;
}

/* .wide-viewport-navbar-link {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
} */

.wide-viewport-navbar-link{
    color: #333333;
    text-decoration: none;
    transition: all 300ms ease;
}

.wide-viewport-navbar-link:hover{
    color:#fc7fb2;
}

.wide-viewport-navbar-link-active {
    text-decoration: none;
    color: #fc7fb2;
}


